<div class="block">
    <h1>Was habe ich mit dieser Seite vor und was kannst Du hier tun?</h1>
    
    <p>
    Ich arbeite hier an einzelnen Gedanken, Ideen, Wissensstücken und Konzepten. Jedes einzelne Bestandteil verlinkt auf verschiedene andere Teile - ähnlich wie Atome. Auf Übersichtsseiten führe ich die Einzelteile zu größeren Themen oder Zusammenhängen zusammen.<br>
    Klingt vermutlich erstmal ganz schön langweilig und meta :)</br></br>
Ich weiß.</br>
Klick einfach mal rein. </br>
Dann macht es hoffentlich mit der Zeit Sinn.</p>

<p>Über die Suche komme ich an einzelne Seiten heran.</p> 

<p>Da drunter stehen die aktuell hinzugefügten oder geänderten Notizen.</p> 

<p>Hier geht es zur <a href="../notes" style="color:var(--link);">Einstiegsseite</ahref>. 
        Da ist alles weitere erklärt.</p>

This page is the core feature of this theme, a feed of notes arranged based on the latest date. </br>
    Check <a href="../posts/features" style="color:var(--link);">Features</a> to know how to hide notes from this feed or make this the homepage.

    
    </div>
